<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Website For Making Requests</title>
  <link href="../../static/main.css" th:href="@{/main.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="patterns">
  <svg width="100%" height="100%">
    <defs>
      <pattern id="polka-dots" x="0" y="0"
               width="100" height="100"
               patternUnits="userSpaceOnUse">
        <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
      </pattern>
      <style>

        html {
          scroll-behavior: smooth;
        }

        #section1 {
          height: 600px;
          background-color: pink;
        }
      </style>

    </defs>

    <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)"> </rect>
    <a href="#mainpage"> <text x="50%" y="60%"  text-anchor="middle"  >
      Welcome to our website!

    </text>
    </a>
  </svg>

</div>

<div id="mainpage">
  <header>
    <div class="wrapper">
      <ul class="nav-area">
        <li><a href="http://localhost:8080/createUserPage"><i class="fas fa-stream"> Δημιουργια χρηστών</i></a></li>
        <li><a href="http://localhost:8080/viewUsersPage"><i class="fas fa-envelope"></i> Προβολή χρηστών</a></li>
        <li><a href="http://localhost:8080/logout"><i class="fas fa-sign-out-alt"> Αποσύνδεση</i></a></li>
      </ul>
    </div>

    <div class="welcome-text">
      <h1>Website for secretary</h1>
      <p></p>
      <button href="#" onclick="myFunction()" class="btn"><i class="fa fa-phone-square"></i> Contact Us</button>
      <p id="demo" style="color: #FFFFFF"></p>
    </div>

    <script>
      var a;
      //press button of Contact us
      function myFunction(){
        //if a=0 display contact elements and return a=1
        if(a==0){
          document.getElementById("demo").innerHTML = "<p><a href=\"mailto:it21994@hua.gr\">Konst. Stavrianos: it21994@hua.gr</a><p></p><a href=\"mailto:it219104@hua.gr\">Eleni Tsaousi: it219104@hua.gr</a><p></p><a href=\https://github.com/const2001/WebApp target=\"_blank\">https://github.com/const2001/WebApp</a>";
          return a=1;
        }
        //if a=1 hide contact elements and return a=0
        else{
          document.getElementById("demo").innerHTML = "";
          return a=0;
        }
      }


    </script>

  </header>
</div>
</body>
</html>