<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests List</title>
    <link href="../../static/style2.css" th:href="@{/style2.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          inherity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJLSAwiGgFAW/dAiS6JXm"
          crossorigin="änonymous">

    <style type="text/css">
        body{
            background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(https://hdwallsource.com/img/2017/2/firewatch-landscape-wallpaper-59154-60938-hd-wallpapers.jpg);
            background-size: cover;
            font-family: "Times New Roman";
            background-attachment: fixed;
        }
    </style>


<body>
<header>
    <tbody>
    <h1 class="heading">Λίστα χρηστών</h1>
    <div class="row2">
        <div class="row d-flex justify-content-center">
            <div class="table-container">

                <div id="AllUsers"></div>

                <!--                create a table-->
                <table class="table" id="display">
                    <thead>
                    <th>Id</th>
                    <th>Ρόλος χρήστη</th>
                    <th>Username</th>
<!--                    <th class="text-center">Επεξεργασία</th>-->
                    <th class="text-center">Διαγραφή</th>
                    </thead>

                    <tbody id="tbody1">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
<!--                        <td></td>-->
                        <td></td>
                        <td class="float-center"></td>
                    </tbody>
                </table>

                <div id="searchAllUsersArea"></div>


                <!--                javascript-->
                <script>
                    window.addEventListener('load', (event) => {

                        //professor views his accepted requests
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', 'http://localhost:8080/users', true);
                        xhr.send();

                        var table = document.getElementById("display");

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4) {
                                if (xhr.status == 200) {
                                    let divElem = document.getElementById('searchAllUsersArea');
                                    const results = JSON.parse(xhr.responseText);
                                    const item = results[0];
                                    try {
                                        divElem.innerHtml = `${item.id} ${item.roles} ${item.userName}`;
                                        console.log(divElem.innerHtml);
                                    } catch (err) {
                                        alert('There are not users in the system');
                                        return false;
                                    }

                                    // load the elements from row=1 and then
                                    var row = 1;

                                    //pass the results to dynamic table
                                    results.forEach((item) => {

                                        var display = document.getElementById("display");
                                        var ALLnewRow = display.insertRow(row);

                                        var cellA1 = ALLnewRow.insertCell(0);
                                        var cellA2 = ALLnewRow.insertCell(1);
                                        var cellA3 = ALLnewRow.insertCell(2);
                                        // var cellA4 = ALLnewRow.insertCell(3);
                                        var cellA5 = ALLnewRow.insertCell(3);

                                        cellA1.innerHTML = item.id;
                                        cellA2.innerHTML = item.roles;
                                        cellA3.innerHTML = item.userName;


                                        // cellA4.innerHTML = "<input th:href=\"@{http://localhost:8080/editUserPage/{userId}}\" id=\"btn\" type=\"button\" class=\"btn\" value=\"Edit\" />";
                                        cellA5.innerHTML = "<input th:href=\"@{http://localhost:8080/deleteUser/{UserId}}\" id=\"btn\" type=\"button\" class=\"btn\" value=\"Delete\" />";

                                        row++;

                                        var index, table=document.getElementById('display');
                                        for(var i=1; i<table.rows.length; i++){
                                            //if click on button of 5th cell
                                            table.rows[i].cells[3].onclick=function() {
                                                let text = "Are you sure you want to delete this user?";

                                                let id;
                                                if (confirm(text) == true) {

                                                    index = this.parentElement.rowIndex;
                                                    id = this.parentElement.cells[0].innerHTML
                                                    table.deleteRow(index);
                                                    let xhr = new XMLHttpRequest();

                                                    //delete method for request with this id
                                                    xhr.open("DELETE", `http://localhost:8080/deleteUser/` + id, true);
                                                    xhr.setRequestHeader('Content-type', 'application/json;');
                                                    xhr.onload = function () {
                                                        // let question = JSON.parse(xhr.responseText);
                                                        if (xhr.readyState == 4 && xhr.status == "200") {
                                                            console.table(display);
                                                        } else {
                                                            // console.error(question);
                                                        }
                                                    }
                                                    xhr.send(null);

                                                } else {
                                                    return null;
                                                }
                                            };

                                            // //if click on the button of 4th cell
                                            // table.rows[i].cells[3].onclick=function() {
                                            //     //get the status of request
                                            //         index = this.parentElement.rowIndex;
                                            //
                                            //         var id = this.parentElement.cells[0].innerHTML;
                                            //         //set the id of request and id of the table
                                            //         sessionStorage.setItem("id", id);
                                            //
                                            //         //and go to the edit page
                                            //         location.href = "http://localhost:8080/editUserPage/{userId}";
                                            // };
                                        }
                                    });
                                }
                            }
                        }
                    });

                </script>


            </div>
        </div>
    </div>
    </tbody>
</header>
</body>
</html>